.todo__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.todo__item {
    width: 100%;
    border: 1px solid rgb(138, 138, 138);
    margin: 0;
    margin-bottom: -1px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}